
{% extends "temp.html" %}

{% block content %}
      <h1>GRANT INTEGRATION ACCESS</h1>
      <!-- STEP 1 : Button that kicks off the flow by sending your user to the following URL along with a standard set of OAuth query parameters, state parameter is hard coded here-->
      <!-- The scope parameter in the integration is set to spark:all for simplicity in this example, in production this should be fine tuned -->
      <div class='center'><a href='https://webexapis.com/v1/authorize?client_id=C444af11482588b7e7424a1869a42c258d93554e8544ab96641e0cc5b565ca669&response_type=code&redirect_uri=http%3A%2F%2F0.0.0.0%3A10060%2Foauth&scope=spark%3Aall%20spark%3Akms&state=1234abcd'><div class='button' style='width:512px;'>GRANT</div></a></div>
{% endblock %}
